<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" Fixed>
    <div>
      LOGO/TITLE
    </div>
    <div>
      <mat-nav-list>

        <!-- <a mat-button [routerLink]="'/accounts'"> Accounts </a>-->
        <mat-list-item >
          <button 
            mat-button 
            [routerLink]="'/main/menu'"
            class="navbutton" >
            Menu 
          </button>
        </mat-list-item>

        <mat-list-item>
          <button 
            class="navbutton" 
            mat-button [matMenuTriggerFor]="userSubMenu">
            Username ?
          </button>
          
          <mat-menu #userSubMenu="matMenu">
            <button mat-menu-item class="navbutton">Settings</button>
            <button mat-menu-item class="navbutton">Help</button>
          </mat-menu>
        </mat-list-item>
        
        <mat-list-item>
            <a mat-button> </a>
          </mat-list-item>
  
          <mat-list-item>
  
          </mat-list-item>

      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100vh;">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>